<head>
	<style>
		.centeredBox{
			margin:0 auto;
			justify-content: center;
			align-items: center;
			text-align: center;
			background:#b4b4b4;
		}
	</style>
</head>
<body>
  <div class="centeredBox">
  <form method="post" enctype="multipart/form-data">
    <h3>Please upload an image to be analyzed!</h3>
    {% csrf_token %}
     {{ form.as_p }}
    <button type="submit">Upload</button>
    <p>This may take a while, do not leave the page</p>
  </form>
  
  {% if img_obj %}
    <h3>Succesfully uploaded : {{img_obj.image.url}} at {{img_obj.date}}</h3>
    <img src="{{ img_obj.image.url}}" alt="prediction-image" style="object-fit: contain; height:720px; width:auto;">
    <div>
	<a href="{{ img_obj.image.url}}" download="result.png">Download</a>
	</div>
  {% endif %}
  </div>
</body>
